---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
import { SUPPORTED_LANG } from '../constants/consts';

const supported = SUPPORTED_LANG;
---
	<main class="flex justify-center align-middle flex-col">
		<div data-supported={supported} />
		<script type="module" client:load>
			const userLang = window.navigator.language || window.navigator.userLanguage;	
			
			document.addEventListener('DOMContentLoaded', function() {
				if (userLang === 'es' || userLang === 'es_ES' || userLang === 'es-ES') {
					window.location.replace('./es')
				} else {
					window.location.replace('./en')
				}
			})
			
			// window.location.replace('./es')

		</script>
  </main>
