---
import Hero from '../components/Hero.astro';
import Technologies from '../components/Technologies.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
---

<Layout title="EnergyREX's Portfolio">
	<main class="flex justify-center align-middle flex-col">
		<Hero />
		<Technologies />
		<Projects />
  </main>
</Layout>
