---
import Layout from "../../../layouts/Layout.astro"
import Projects from "../../../components/Projects.astro"
import { PROJECTS } from "../../../constants/projects";
import "../../../styles/global.css"

import { SUPPORTED_LANG } from "../../../constants/consts"
import type { GetStaticPaths } from 'astro';
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";

export const getStaticPaths = (() => {
  let staticPaths = SUPPORTED_LANG.map(lang => ({
    params: { language: lang }
  }));

  return staticPaths;
}) satisfies GetStaticPaths;
---

<Layout title="EnergyREX's Portfolio | Projects">
  <main class="h-screen">
    <Header />
    <Projects />
    <Footer />
  </main>
</Layout>
