---
const { language } = Astro.params;
---

<nav class="flex justify-between align-middle mx-50 px-4 pt-5 border-b border-neutral-300 pb-5 dark:border-neutral-800">
<!-- Name-logo (to root) -->
  <div>
    <a href=`/${language}`>
      <h1 class="text-xl font-black">EnergyREX</h1>
    </a>
  </div>

<!-- Links -->
  <div class="flex gap-6 text-xl font-medium">
    <a href=`/${language}/`>Home</a>
    <a href=`/${language}/projects`>Projects</a>
    <a href=`/${language}/about`>About</a>
    <a href="mailto:fran.j.martin04@gmail.com">Contact</a>

<!-- Functions -->
  <div>
    <select id="themeToggler" class="text-lg px-2 border rounded-md border-neutral-400 dark:border-neutral-800">
      <option value="" class="dark:bg-neutral-900 rounded-lg">Select theme</option>
      <option value="light" class="dark:bg-neutral-900">Light theme</option>
      <option value="dark" class="dark:bg-neutral-900">Dark theme</option>
    </select>
  </div>
  </div>
</nav>

