---
interface Props {
  url: string;
  title?: string;
  class?: string;
}

const { url, title, class: className } = Astro.props;

---

<a href={url} title={title} class=`${className} text-2xl border hover:bg-neutral-300 hover:scale-110 duration-300 ease-in p-2 px-3`><slot/></a>