<nav class="flex justify-between align-middle mx-50 px-4 pt-5 border-b pb-5">
<!-- Name-logo (to root) -->
  <div>
    <a href="/">
      <h1 class="text-xl font-black">EnergyREX</h1>
    </a>
  </div>

<!-- Links -->
  <div class="flex gap-6 text-xl font-medium">
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

<!-- Functions -->
  <div>
    <select class="text-lg border rounded-md border-slate-300">
      <option>Select theme</option>
      <option>System Default</option>
      <option>Light theme</option>
      <option>Dark theme</option>
    </select>
  </div>
  </div>
</nav>

