---

interface Props {
  url: string;
  title: string;
  class?: string;
}

const { url, title, class: className } = Astro.props;
---

<a href={url} title={title} class=`${className} text-2xl border hover:bg-neutral-300 hover:scale-110 duration-300 ease-in rounded-tl-lg rounded-br-lg p-2 px-3
class:list="dark:border-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-800`><slot/></a>