---

const { url } = Astro.props;
---

<a href={url} class="text-2xl border border-neutral-700 bg-neutral-700 hover:bg-neutral-800 hover:scale-110 duration-300 ease-in rounded-tl-lg rounded-br-lg p-2 px-3"><slot/></a>