---
import Layout from "../../layouts/Layout.astro"
import Projects from "../../components/Projects.astro"
import {PROJECTS} from "../../consts";
import "../../styles/global.css"
---

<Layout title="EnergyREX's Portfolio | Projects">
  <main class="h-screen">
    <Projects />
  </main>
</Layout>
